@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', Arial, Helvetica, sans-serif;
}

body{
background-image: url('./images/dark_weather.jpg');
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}

.logoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 100%;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 8px;
    color: white;
}

.inputs{
    display: flex;
    gap: 12px;
    align-items: center;
}

form input[type='text']{
    padding: 2px 4px;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid rgb(121, 121, 121);
}

.menuButton{
    max-width: 35px;
    fill: white;
    cursor: pointer;
    margin-left: 12px;
}

.hidingButton{
    position: absolute;
    margin-top: 4px;
}

.menu{
    background-color: rgb(39, 39, 39);
    width: 250px;
    left: -250px;
    z-index: 1000;
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 36px;
    height: 100svh;
    position: absolute;
}

.menu.active{
    left: 0;
}


.menuHeader{
    display: flex;
    align-items: center;
}

.degrees{
    cursor:pointer;
    font-size: 1.4rem;
    border: none;
    background-color: transparent;
    color: white;
}

.dark-light-mode{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
}

.logoInMenu{
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
}

.dataContainer{
position: absolute;
top: 50%;
left: 50%;
translate: -50% -75%;
text-align: center;
color: white;
font-weight: bold;
padding: 32px;
}

.middleDiv{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.tempDiv{
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
}

.location, .weather{
    font-size: 1.9rem;
}

.temperature{
    display: flex;
    font-size: 8rem;
}

.spanDegrees{
    font-size: 1.3rem;

}

.additionalInfoDiv{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.sunriseTime svg, .sunsetTime svg{
    width: 20px;
    fill: white;
}